<html>
<head>
<style>

    body {margin:0;
      background-image: url("https://cdn.hipwallpaper.com/i/1/9/KLmBD4.jpg");
        }
    html{
        position: relative;
        min-width: 1024px;
        min-height: 768px;
        height: 100%;
    }
    #white-background{
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #fefefe;
        opacity: 0.7;
        z-index: 9999;
    }

    #dlgbox{
        /*initially dialog box is hidden*/
        display: none;
        position: fixed;
        width: 480px;
        z-index: 9999;
        border-radius: 20px;
        background-color: transparent;
    }

    #dlg-header{
        background-color: #7f7f7f;
        color: white;
        font-size: 20px;
        padding: 10px;
        margin: 10px 10px 0px 10px;
    }

    #dlg-body{
        background-color: white;
        color: black;
        font-size: 14px;
        padding: 10px;
        margin: 0px 10px 0px 10px;
    }

    #dlg-footer{
        background-color: #f2f2f2;
        text-align: right;
        padding: 10px;
        margin: 0px 10px 10px 10px;
    }

    #dlg-footer button{
        background-color: dimgrey;
        color: white;
        padding: 5px;
        border: 0px;
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 42px;
        background-color: black;
        color: whitesmoke;
        text-align: center;
    }


</style>
</head>
{{# each products }}
    <div class="container">
        <div class="row"><br><br><br><br>
            <div class="col-xs-3 item-photo">
                <img style="width:250px;" src="{{this.ImageURL}}">
                <h3 style="align-items: center; padding: 0px"><b>{{this.Title}}</b></h3>
                <p style="padding: -40px;">
                    <large>

                    </large>
                </p>
            </div>
            <div class="col-xs-6" style="text-align: justify">
                <html>
                <head>
                </head>
                <body>
                  <br>
                  <br>
                <h1>Product Description</h1>
                <span class="more">


                  <b>Brand: {{this.Brand}}</b></h2><br>
                  <b>Size: {{this.Size}}</b></h2><br>
                  <b>Style: {{this.STyle}}</b></h2><br>
                  <b>Weight: {{this.Weight}}</b></h2><br>
                  <b>Dimension: {{this.Dimension}}</b></h2><br>
                  <b>Model No: {{this.Modelnumber}}</b></h2><br>
                  <b>Seller: {{this.sellers}}</b></h2><br>
                  <b>Sold By: {{this.SoldBy}}</b></h2><br>

        </span>
                <br><br>

                </body>
                </html>
                <script type="text/javascript">
                    $(document).ready(function() {
                        // Configure/customize these variables.
                        var showChar = 100; // How many characters are shown by default
                        var ellipsestext = "...";
                        var moretext = "Show more >";
                        var lesstext = "Show less";


                        $('.more').each(function() {
                            var content = $(this).html();

                            if(content.length > showChar) {

                                var c = content.substr(0, showChar);
                                var h = content.substr(showChar, content.length - showChar);

                                var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                                $(this).html(html);
                            }

                        });

                        $(".morelink").click(function(){
                            if($(this).hasClass("less")) {
                                $(this).removeClass("less");
                                $(this).html(moretext);
                            } else {
                                $(this).addClass("less");
                                $(this).html(lesstext);
                            }
                            $(this).parent().prev().toggle();
                            $(this).prev().toggle();
                            return false;
                        });
                    });
                </script>
                <style>
                    .morecontent span {
                        display: none;
                    }
                    .morelink {
                        display: block;
                    }
                </style>

            </div>


            <div class="col-xs-3" style="border:0px solid gray">


                        <div class="container">
                            <div class="row" style="padding-center: 200px">
                                <script>
                                    $(document).ready(function(){

                                        var quantitiy=0;
                                        $('.quantity-right-plus').click(function(e){

                                            // Stop acting like a button
                                            e.preventDefault();
                                            // Get the field name
                                            var quantity = parseInt($('#quantity').val());

                                            // If is not undefined

                                            $('#quantity').val(quantity + 1);


                                            // Increment

                                        });

                                        $('.quantity-left-minus').click(function(e){
                                            // Stop acting like a button
                                            e.preventDefault();
                                            // Get the field name
                                            var quantity = parseInt($('#quantity').val());

                                            // If is not undefined

                                            // Increment
                                            if(quantity>0){
                                                $('#quantity').val(quantity - 1);
                                            }
                                        });

                                    });
                                </script>

                                <div class="col-lg-2">
                                    <div class="input-group">
                                    <span class="input-group-btn">

                                    </span>
                                        <input  id="quantity" name="quantity" class="form-control input-number" value="1" min="0" max="100"/>
                                       <!-- <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="0" max="100">-->
                                        <span class="input-group-btn">

                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>
                        <input value="1" />
                        <div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>-->
                    </div>
                </div>
                <body>
                <div id="white-background" line-height: 2.5;>
                </div>
                <div id="dlgbox">
                    <div id="dlg-header" >Success!!</div>
                    <div id="dlg-body">Item Added to cart!</div>
                    <div id="dlg-footer">
                        <button type="button" class="btn btn-dark" > OK! </button>
                    </div>
                </div>
                
                <div class="section" style="padding-right:-40px;">
                <a href="/add-to-cart/{{this.id}}" class="btn btn-outline-success pull-left" role="button" onclick="showDialog()">Add to Shopping Cart</a>
                </div>
                <script>
                    function dlgLogin(){
                        var whitebg = document.getElementById("white-background");
                        var dlg = document.getElementById("dlgbox");
                        whitebg.style.display = "none";
                        dlg.style.display = "none";
                    }

                    function showDialog(){
                        var whitebg = document.getElementById("white-background");
                        var dlg = document.getElementById("dlgbox");
                        whitebg.style.display = "block";
                        dlg.style.display = "block";

                        var winWidth = window.innerWidth;
                        var winHeight = window.innerHeight;

                        dlg.style.left = (winWidth/2) - 480/2 + "px";
                        dlg.style.top = "150px";
                    }
                </script>
                </body>



            </div>
        </div>
    </div>
{{/each}}
</html>
<div class="footer" style="padding-top: 10px;">
    Built by Poonam Krishna, Yashjeet Singh, Shreyas Dalvi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
